@import 'material-color';
@import 'mixins';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: material-color(blue-grey, 50);
  background-color: material-color(blue-grey, 900);
  @include raised-1;
}

.footer-nav {
  max-width: $width-cap;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
}

.footer-link {
  color: inherit;
  text-decoration: none;

  display: block;
  padding: 1rem;
  transition: background-color 0.25s ease;

  &:hover,
  &:focus,
  &.active {
    background-color: material-color(blue-grey, 800);
    color: material-color(blue-grey, 100);
  }
}
