@import 'material-color';
@import 'mixins';
@import 'variables';

%fixed-base {
  position: fixed;
  left: 0;
  width: 100%;
}

.header {
  @extend %fixed-base;
  top: 0;
}

.content {
  padding: {
    top: $header-size;
    bottom: $footer-size;
  }
}

.footer {
  @extend %fixed-base;
  bottom: 0;
  height: $footer-size;
  color: material-color($theme-primary, 50);
  background-color: material-color($theme-primary, 900);
  @include raised-1;
}

.footer-nav {
  max-width: $width-cap;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-link {
  color: inherit;
  text-decoration: none;

  display: block;
  padding: 1rem;
  transition: background-color 0.25s ease;

  &:hover,
  &:focus,
  &.active {
    background-color: material-color($theme-primary, 800);
    color: material-color($theme-primary, 100);
  }
}
