@import 'variables';
@import 'mixins';
@import 'bases';
@import 'material-color';

%pose-base {
  display: block;
}

$vertical-offset: 4rem;

@mixin pose-height {
  height: calc(100vh - #{$header-size + $footer-size});

  @include large-screen {
    height: calc(100vh - #{$header-size + $footer-size} - #{2 * $vertical-offset});
  }
}

yf-poses {
  @extend %pose-base;

  max-width: $width-cap;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;

  @include large-screen {
    margin-top: $vertical-offset;
    @include raised-2;
  }

  @include pose-height;
}

.poses-slider {
  overflow: hidden;
  cursor: grab;
}
.poses-slider--dragging {
  user-select: none;
  cursor: grabbing;
}

.poses-wrapper {
  transform: translateX(-1 * percentage(1/3));
}

.poses-track {
  display: flex;
  will-change: transform;
}

yf-pose {
  @extend %pose-base;
  text-align: center;

  @include pose-height;
  overflow: hidden;
}

.pose-title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

.pose-sanskrit {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 2rem;
}

.pose-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;

  max-height: 40vh;
  @include large-screen {
    max-height: 50vh;
  }
}

yf-poses-list {
  padding: 1rem;
  display: block;
}

.poses-title {
  @extend %page-title;
}

.poses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}

.pose-preview {
  display: block;
  background: no-repeat center #fff;
  background-size: cover;
  padding: 4rem 1rem;
  text-align: center;
  color: material-color($theme-primary, 900);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: material-color($theme-primary, 800);
  }

  h2,
  h3 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    $shadow-size: 0.1rem;
    $shadow-color: #fff;
    text-shadow: $shadow-size 0 $shadow-color, 0 $shadow-size $shadow-color,
      -1 * $shadow-size 0 $shadow-color, 0 -1 * $shadow-size $shadow-color,
      -1 * $shadow-size -1 * $shadow-size $shadow-color,
      -1 * $shadow-size $shadow-size $shadow-color, $shadow-size -1 * $shadow-size $shadow-color,
      $shadow-size $shadow-size $shadow-color;
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}
