@import 'variables';
@import 'mixins';
@import 'material-color';

yf-search {
  background: material-color($theme-primary, 900);
  display: block;
  @include raised-1;
  margin-bottom: 2rem;
}

.search-query-container {
  position: relative;
}
.search-container {
  max-width: $width-cap;
  margin: 0 auto;
  padding: 0.5rem;
}

.search-query-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;

  path:first-child {
    transition: fill 0.25s ease;
    fill: material-color($theme-primary, 100);
  }
}

.search-query {
  appearance: none;
  border: none;
  border-bottom: 1px solid material-color($theme-primary, 100);
  background: transparent;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 2px;
  width: 100%;
  transition: border-bottom-color 0.25s ease, background-color 0.25s ease;
  color: material-color($theme-primary, 50);

  &:focus,
  &:active {
    background: material-color($theme-primary, 800);
    outline: none;
    border-bottom-color: material-color($theme-primary, 50);
  }
}

.search-query-container.focused {
  .search-query-icon {
    path:first-child {
      fill: material-color($theme-primary, 50);
    }
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: material-color($theme-primary, 800);
  color: material-color($theme-primary, 50);
  @include raised-1;
}

%base-item {
  display: block;
  padding: 1rem 1rem 1rem 3rem;
}

.search-result {
  @extend %base-item;
  cursor: pointer;
  border-bottom: 1px solid material-color($theme-primary, 600);
  color: inherit;
  transition: background-color 0.15s ease;
  text-decoration: none;

  &:hover,
  &:focus,
  &.selected {
    background: material-color($theme-primary, 700);
  }

  h3 {
    margin: 0 0 1rem;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 500;
  }

  h4 {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    font-style: italic;
    color: material-color($theme-primary, 100);
  }
}

.search-results--empty {
  @extend %base-item;
  color: material-color(yellow, 300);
  font-style: italic;
}
