<div class="poses-slider" *ngIf="width$ | async as width" [class.poses-slider--dragging]="isDragging">
  <div class="poses-wrapper" [style.width.px]="3 * width">
    <div class="poses-track" [style.transform]="transform">
      <yf-pose [pose]="pose" *ngFor="let pose of activePoses$ | async" [style.width.px]="width"></yf-pose>
    </div>
  </div>
  <nav class="pose-nav pose-nav--left">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
  </nav>
  <nav class="pose-nav pose-nav--right">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
  </nav>
</div>