<h1 class="glossary-title">Glossary</h1>
<p class="glossary-intro">Many asana names include the following Sanskrit words as affixes:</p>
<table class="glossary-table">
  <tbody>
    <tr>
      <th>English
      </th>
      <th>Sanskrit
      </th>
      <th>Meaning
      </th>
    </tr>
    <tr>
      <td>Adho
      </td>
      <td>अधो
      </td>
      <td>downward
      </td>
    </tr>
    <tr>
      <td>Ardha
      </td>
      <td>अर्ध
      </td>
      <td>half
      </td>
    </tr>
    <tr>
      <td>Bandha
      </td>
      <td>बंध
      </td>
      <td>lock
      </td>
    </tr>
    <tr>
      <td>Dhánus
      </td>
      <td>धनुः
      </td>
      <td>bow
      </td>
    </tr>
    <tr>
      <td>Dvī
      </td>
      <td>द्वि
      </td>
      <td>two
      </td>
    </tr>
    <tr>
      <td>Eka
      </td>
      <td>एक
      </td>
      <td>one, single
      </td>
    </tr>
    <tr>
      <td>Parivṛtta
      </td>
      <td>परिवृत्त
      </td>
      <td>revolved, twisted
      </td>
    </tr>
    <tr>
      <td>Supta
      </td>
      <td>सुप्त
      </td>
      <td>supine, reclining
      </td>
    </tr>
    <tr>
      <td>Tulā
      </td>
      <td>तुला
      </td>
      <td>balance
      </td>
    </tr>
    <tr>
      <td>Upaviṣṭha
      </td>
      <td>उपविष्ठ
      </td>
      <td>seated
      </td>
    </tr>
    <tr>
      <td>Ubhaya
      </td>
      <td>उभय
      </td>
      <td>both, together
      </td>
    </tr>
    <tr>
      <td>Ūrdhva
      </td>
      <td>ऊर्ध्व
      </td>
      <td>upward
      </td>
    </tr>
    <tr>
      <td>Utthita
      </td>
      <td>उत्थित
      </td>
      <td>extended
      </td>
    </tr>
  </tbody>
</table>