<header class="header">
  <yf-search></yf-search>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <nav class="footer-nav">
    <a routerLink="/" routerLinkActive="active" class="footer-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/poses" routerLinkActive="active" class="footer-link">Poses</a>
    <a routerLink="/glossary" routerLinkActive="active" class="footer-link">Glossary</a>
  </nav>
</footer>

<aside class="update-notice" *ngIf="isNewVersionAvailable$ | async">
  A new version is available <button class="update-button" type="button" (click)="reload()">Reload</button>
</aside>
